* {
    box-sizing: border-box; 
}

.game-title {
    text-align: center;
}

body {
    text-align: center;
    background-color: grey;
}

#combo-container {
    background-color: orange;
    height: 18rem;
    width: 25rem;
    display: inline-block;
}

.stat-wrapper {
    background-color: orange;
    height: 18rem;
    width: 25rem;
    display: inline-block
} 

#combo-ghost, #combo-witch, #combo-cat {
    display: flex;
    height: 10rem;
    width: 10rem;
    margin-bottom: -6rem;
    margin-right: -6rem;
}


.winning-amount-cat, .winning-amount-ghost, .winning-amount-witch {
    text-align: right;
    background-color: black;
    color: white;
    height: 3rem;
    width: 5rem;
}

.winning-amount-ghost {
    margin-left: 5rem;
    margin-top: 3rem;
}
    
.winning-amount-witch {
    margin-left: 9rem;
    margin-top: 4rem;
}
    
.winning-amount-cat {
    margin-left: 9rem;
    margin-top: 5rem;
}
  


#reel-container1, #reel-container2, #reel-container3 {
    background-color: orange;
    color: black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin: 4px 2px 4px 2px;
    border-radius: 125px;
    height: 25rem;
    width: 10rem;
}



#reel-ghost, #reel-witch, #reel-cat {
    height: 10rem;
    width: 10rem;
    margin-bottom: -4rem;
}


#spin-button {   
    justify-content: center;
    background-color: red;
    height: 3rem;
    width: 5rem;
    padding: 10px 20px;
    margin: 4px 2px;
    border-bottom: solid 5px black;
    border-radius: 25px;
}

