* {
    box-sizing: border-box; 
}

.game-title {
    text-align: center;
}

body {
    text-align: center;
    background-color: grey;
}

#combo-container {
    background-color: orange;
    display: inline-block;
    height: 18rem;
    width: 25rem;
    text-align: right;
}

#combo-ghost, #combo-witch, #combo-cat {
    display: flex;
    height: 10rem;
    width: 10rem;
    margin-bottom: -6rem;
    margin-right: -6rem;
}



#reel-container1, #reel-container2, #reel-container3 {
    background-color: orange;
    color: black;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 4px 2px 4px 2px;
    border-radius: 16px;
    height: 25rem;
}



#reel-ghost, #reel-witch, #reel-cat {
    display: column;
    height: 10rem;
    width: 10rem;
    margin-bottom: -4rem;
}


#spin-button {   
    justify-content: center;
    background-color: red;
    height: 3rem;
    width: 5rem;
    padding: 10px 20px;
    margin: 4px 2px;
    border-bottom: solid 5px black;
    border-radius: 25px;
}